<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="menu.header-hero.partial.html"
      ></nav>
    </header>
    <main>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="menu.bar.partial.html"
      ></nav>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="menu.food.partial.html"
      ></nav>
    </main>
  </body>
</html>
